<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sentechConnection"
            connectionString="Data Source=SAURABH-PC\SQLEXPRESS;Initial Catalog=SentechDB;User ID=SentecUser;Password=password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="PageSize" value="20" />
  </appSettings>
</configuration>